*{
box-sizing:border-box;
}


body{

margin:0;

background:#111;

color:#fff;

font-family:

-apple-system,

BlinkMacSystemFont,

"PingFang SC";

}


.top{

padding:25px;

}


h1 span{

color:#c8a66a;

}



.menu{

padding:20px;

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.menu a{

background:#1d1d1f;

padding:22px;

border-radius:20px;

color:white;

text-decoration:none;

text-align:center;

}



.menu a:hover{

background:#c8a66a;

color:#111;

}



.card{

margin:20px;

padding:20px;

background:#1d1d1f;

border-radius:20px;

}



input,
select,
textarea{

width:100%;

padding:14px;

margin:8px 0;

background:#222;

color:white;

border-radius:10px;

border:1px solid #333;

}



button{

width:100%;

padding:14px;

background:#c8a66a;

border:none;

border-radius:12px;

}



.item{

padding:15px;

border-bottom:1px solid #333;

}



nav{

position:fixed;

bottom:0;

left:0;

right:0;

background:#181818;

padding:15px;

text-align:center;

color:#c8a66a;

}
