body{

margin:0;

background:#0d0d0d;

color:white;

font-family:
"PingFang SC",
Arial;

}



.top{

text-align:center;

padding:35px 20px;

background:
linear-gradient(
135deg,
#111,
#222
);

}



.logo{

width:90px;

height:90px;

margin:auto;

border-radius:25px;

background:
linear-gradient(
135deg,
#d4af37,
#8b6b20
);


font-size:55px;

font-weight:bold;

line-height:90px;

color:#111;


}



h1{

font-size:32px;

}


h1 span{

color:#d4af37;

}



.grid{


display:grid;

grid-template-columns:
repeat(2,1fr);


gap:18px;


padding:20px;


}



.grid a{


height:130px;


background:#191919;


border-radius:25px;


border:
1px solid #333;


display:flex;


flex-direction:column;


align-items:center;


justify-content:center;


text-decoration:none;


color:white;


font-size:17px;


box-shadow:
0 8px 20px #000;


transition:.3s;


}



.grid a:hover{

transform:translateY(-5px);

}



.icon{


font-size:45px;


margin-bottom:12px;


background:
linear-gradient(
135deg,
#f5d77a,
#b8860b
);


border-radius:20px;


padding:8px;


}




.footer{


text-align:center;

padding:30px;

color:#999;


}
